$theme-colors: (
    'primary': #16a085,
);
.react-datepicker-wrapper {
    flex: 1;
}
.cursor-pointer {
    cursor: pointer;
}
button,
button::after,
button::before,
button:active,
button:focus {
    box-shadow: none !important;
}
@import './utility';
@import '~bootstrap/scss/bootstrap';
